


    <!-- tap to top -->
    <div class="tap-top top-cls">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top end -->


    <!-- latest jquery-->
    <script src="javascripts/jquery-3.3.1.min.js"></script>

    <!-- fly cart ui jquery-->
    <script src="javascripts/jquery-ui.min.js"></script>

    <!-- exitintent jquery-->
    <script src="javascripts/jquery.exitintent.js"></script>
    <script src="javascripts/exit.js"></script>

    <!-- popper js-->
    <script src="javascripts/popper.min.js"></script>

    <!-- slick js-->
    <script src="javascripts/slick.js"></script>

    <!-- menu js-->
    <script src="javascripts/menu.js"></script>

    <!-- lazyload js-->
    <script src="javascripts/lazysizes.min.js"></script>

    <!-- Bootstrap js-->
    <script src="javascripts/bootstrap.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="javascripts/bootstrap-notify.min.js"></script>

    <!-- Fly cart js-->
    <script src="javascripts/fly-cart.js"></script>

    <!-- Theme js-->
    <script src="javascripts/script.js"></script>

    <script>
        $(window).on('load', function () {
            setTimeout(function () {
                $('#exampleModal').modal('show');
            }, 2500);
        });

        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>

</body>




</html>