{{> csslinks}}

{{> header}}
{{#if errors}}
    {{#each errors}}
        <script> alertify.error('{{this.msg}}')</script>
     {{/each}}
{{/if}}

  <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>update password</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">update password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!-- personal deatail section start -->
    <section class="contact-page register-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>UPDATE PASSWORD</h3>
                    <form class="theme-form" method="POST" action="updatepassword">
                        <div class="form-row">
                              <div class="col-md-6">
                                <label for="review">Old Password</label>
                                <input type="password" class="form-control" id="review" placeholder="Enter Old Password"
                                    required="" name="oldpassword">
                            </div>
                            </div>
                            <div class="form-row">
                            <div class="col-md-6">
                                <label for="password">New Password</label>
                                <input type="password" class="form-control" id="name" placeholder="Enter New Password"
                                    required="" name="password">
                            </div>
                            </div>
                            <div class="form-row">
                            <div class="col-md-6">
                                <label for="confirmpass">Confirm Password</label>
                                <input type="password" class="form-control" id="last-name" placeholder="Enter Confirm Password" required="" name="confirmpassword">
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-sm btn-solid" type="submit">UPDATE</button>
                            </div>
                            </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->


 {{> footer}}
{{> jslinks}}